
 __  __  ______  _____   _____  __     __        _____  _    _  _____   _____   _____  _______  __  __             _____
|  \/  ||  ____||  __ \ |  __ \ \ \   / /       / ____|| |  | ||  __ \ |_   _| / ____||__   __||  \/  |    /\     / ____|
| \  / || |__   | |__) || |__) | \ \_/ /       | |     | |__| || |__) |  | |  | (___     | |   | \  / |   /  \   | (___
| |\/| ||  __|  |  _  / |  _  /   \   /        | |     |  __  ||  _  /   | |   \___ \    | |   | |\/| |  / /\ \   \___ \
| |  | || |____ | | \ \ | | \ \    | |         | |____ | |  | || | \ \  _| |_  ____) |   | |   | |  | | / ____ \  ____) |
|_|  |_||______||_|  \_\|_|  \_\   |_|          \_____||_|  |_||_|  \_\|_____||_____/    |_|   |_|  |_|/_/    \_\|_____/



                                                           *
                                                                 *
                                                    *
                                            *             ,               *
                                                        _/^\_
                                                       <     >
                                      *                 /.-.\         *
                                               *        `/&\`                   *
                                                       ,@.*;@,
                                                      /_o.I %_\    *
                                         *           (`'--:o(_@;
                                                    /`;--.,__ `')             *
                                                   ;@`o % O,*`'`&\
                                             *    (`'--)_@ ;o %'()\      *
                                                  /`;--._`''--._O'@;
                                                 /&*,()~o`;-.,_ `""`)
                                      *          /`,@ ;+& () o*`;-';\
                                                (`""--.,_0 +% @' &()\
                                                 /-.,_    ``''--....-'`)  *
                                           *    /@%;o`:;'--,.__   __.'\
                                               ;*,&(); @ % &^;~`"`o;@();         *
                                               /(); o^~; & ().o@*&`;&%O\
                                               `"="==""==,,,.,="=="==="`
                                            __.----.(\-''#####---...___...-----._
                                          '`         \)_`"""""`
                                                  .--' ')
                                                o(  )_-\
                                                  `"""` `

