<nav class="navbar">
  <div class="navbar-container">
    <a href="/" class="navbar-title">Tic-Tac-Toe</a>
    <div class="navbar-links">
      {% if request.endpoint == 'login' %}
      <a href="/login">登入</a>
      {% else %}
      <a href="/logout">登出</a>
      <div class="navbar-user">
        <span class="user-info">
          <span class="user-icon">{{ session.get('icon') }}</span>
          <span class="user-name">{{ session.get('user') }}</span>
        </span>
      </div>
      {% endif %}
    </div>
  </div>
</nav>